[submodule "vendor/pdf-inspector"]
	path = vendor/pdf-inspector
	url = git@github.com:actblue/pdf-inspector.git
[submodule "vendor/ttfunk"]
	path = vendor/ttfunk
	url = git@github.com:actblue/ttfunk.git
